<!-- Section directions -->
<div id="section-directions">
	<div class="container">
		<div class="row">
			<h3>направления услуг</h3>
		</div>
		<div class="row">
			<!-- Item -->
			<div class="item text-left col-6 col-sm-6 col-md-4">
				<h1>Print</h1>
				<ul>
					<li>упаковка</li>
					<li>каталоги</li>
					<li>постеры</li>
					<li>POSM</li>
					<li>ситиформаты</li>
					<li>обложки книг</li>
				</ul>
			</div>
			<!-- /.Item -->
			<!-- Item -->
			<div class="item text-left col-6 col-sm-6 col-md-4">
				<h1>Digital</h1>
				<ul>
					<li>моушн дизайн</li>
					<li>анимация</li>
					<li>лендинги</li>
					<li>веб-баннеры</li>
					<li>оформление соцсетей</li>
					<li>монтаж</li>
				</ul>
			</div>
			<!-- /.Item -->
			<!-- Item -->
			<div class="item text-left col-6 col-sm-6 col-md-4">
				<h1>Branding</h1>
				<ul>
					<li>айдентика</li>
					<li>логотипы</li>
					<li>фирменный стиль</li>
					<li>key visual</li>
				</ul>
			</div>
			<!-- /.Item -->
			<!-- Item -->
			<div class="item text-left col-6 col-sm-6 col-md-4">
				<h1>Concept</h1>
				<ul>
					<li>оформление витрин</li>
					<li>дисплеи</li>
					<li>театрализации</li>
					<li>оформление зон</li>
					<li>концепции конструкций</li>
				</ul>
			</div>
			<!-- /.Item -->
			<!-- Item -->
			<div class="item text-left col-6 col-sm-6 col-md-4">
				<h1>Art</h1>
				<ul>
					<li>концепт-арт</li>
					<li>иллюстрации</li>
					<li>леттеринг</li>
					<li>каллиграфия</li>
					<li>арт-объекты</li>
					<li>флюид-арт</li>
				</ul>
			</div>
			<!-- /.Item -->
		</div>
	</div>
</div>
<!-- /.Section directions -->