<!-- Section miscellaneous 1 -->
<div id="section-miscellaneous1">
	<div class="container">
		<div class="row">
			<!-- Item -->
			<div class="item col-6 col-sm-6 col-md-3">
				<h1 class="counter-value">13</h1>
				<p>лет успешной работы</p>
			</div>
			<!-- /.Item -->
			<!-- Item -->
			<div class="item col-6 col-sm-6 col-md-3">
				<h1 class="counter-value">22</h1>
				<p>крупных бренда довольны сотрудничеством со мной</p>
			</div>
			<!-- /.Item -->
			<!-- Item -->
			<div class="item col-6 col-sm-6 col-md-3">
				<h1><span class="counter-value">190</span>+</h1>
				<p>реализованных проектов</p>
			</div>
			<!-- /.Item -->
			<!-- Item -->
			<div class="item col-6 col-sm-6 col-md-3">
				<h1 class="counter-value">500</h1>
				<p>приблуд из неведомой фигни</p>
			</div>
			<!-- /.Item -->
		</div>
	</div>
</div>
<!-- /.Section miscellaneous 1 -->